In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (2.2.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import numpy as np

C:\Users\lenovo\AppData\Local\Temp\ipykernel_2488\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:
# how to read excel in pandas

In [4]:
# for csv
#pd.read_excel
#pd.read_json
df=pd.read_csv(r"C:\Users\Eric\Downloads\gplay.csv")

In [5]:
df.head()

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone

# clean columns (header)

In [ ]:
df.columns

In [6]:
# droping unsed columns from data
df.drop(columns="Unnamed: 0",inplace=True)

In [7]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone

# Data level cleaning

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
dtypes: float64(1), object(8)
memory usage: 762.4+ KB

In [9]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
dtype: int64

In [10]:
rating_mean=df['Rating'].mean()

In [11]:
rating_mean

4.193338315362443

In [12]:
df['Rating'].fillna(rating_mean,inplace=True)

In [13]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
dtype: int64

In [14]:
df.dropna(inplace=True)

In [15]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10839 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          10839 non-null  float64
 3   Reviews         10839 non-null  object
 4   Size            10839 non-null  object
 5   Installs        10839 non-null  object
 6   Type            10839 non-null  object
 7   Price           10839 non-null  object
 8   Content Rating  10839 non-null  object
dtypes: float64(1), object(8)
memory usage: 846.8+ KB

In [17]:
df["Reviews"].value_counts() #find occr of each value and count their frequency

Reviews
0         595
1         272
2         214
3         175
4         137
         ...
4272        1
5517        1
4057        1
459797      1
398307      1
Name: count, Length: 6001, dtype: int64

In [20]:
df["Reviews"].replace("3.0M","3000000",inplace=True)

In [21]:
df["Reviews"]=df["Reviews"].astype(int)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10839 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          10839 non-null  float64
 3   Reviews         10839 non-null  int32
 4   Size            10839 non-null  object
 5   Installs        10839 non-null  object
 6   Type            10839 non-null  object
 7   Price           10839 non-null  object
 8   Content Rating  10839 non-null  object
dtypes: float64(1), int32(1), object(7)
memory usage: 804.5+ KB

In [23]:
df['Price'].value_counts()

Price
0         10039
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: count, Length: 92, dtype: int64

In [26]:
df['Price']=df['Price'].str.replace("$","")

In [27]:
df['Price']=df['Price'].astype(float)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10839 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          10839 non-null  float64
 3   Reviews         10839 non-null  int32
 4   Size            10839 non-null  object
 5   Installs        10839 non-null  object
 6   Type            10839 non-null  object
 7   Price           10839 non-null  float64
 8   Content Rating  10839 non-null  object
dtypes: float64(2), int32(1), object(6)
memory usage: 804.5+ KB

In [30]:
df["Installs"]=df["Installs"].str.replace(",","")
df["Installs"]=df["Installs"].str.replace("+","")

df["Installs"]=df["Installs"].astype(int)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10839 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          10839 non-null  float64
 3   Reviews         10839 non-null  int32
 4   Size            10839 non-null  object
 5   Installs        10839 non-null  int32
 6   Type            10839 non-null  object
 7   Price           10839 non-null  float64
 8   Content Rating  10839 non-null  object
dtypes: float64(2), int32(2), object(5)
memory usage: 762.1+ KB

In [33]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,10000,Free,0.0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,500000,Free,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,5000000,Free,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,50000000,Free,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,100000,Free,0.0,Everyone

In [ ]:
# Clearing datatype
#Rating	Reviews	Size	Installs	Type	Price

In [32]:
df['Size'].value_counts()

Size
Varies with device    1694
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

In [34]:
def clean_size(x):
    if "k" in x:
        x=x.replace("k",'')
        return float(x)/1024
    elif 'M' in x:
        x=x.replace('M','')
        return float(x)
    else:
        return np.nan

In [35]:
df['Size']=df['Size'].map(clean_size)

In [36]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone

In [37]:
df.isnull().sum()

App                  0
Category             0
Rating               0
Reviews              0
Size              1694
Installs             0
Type                 0
Price                0
Content Rating       0
dtype: int64

In [38]:
df["Size"].fillna(df["Size"].mean(),inplace=True)

In [40]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
dtype: int64

In [ ]:
#df.to_csv(r"C:\Users\PremchandraUpadhyay\Desktop\Test\test12.csv")

# Analysis

In [41]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone

In [ ]:
# Q1. Highest rated app ?

In [42]:
df["Rating"].max()

5.0

In [ ]:
# Q2 display all the data having rating 5

In [44]:
df[df["Rating"]==5]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
329,Hojiboy Tojiboyev Life Hacks,COMICS,5.0,15,37.0,1000,Free,0.0,Everyone
612,American Girls Mobile Numbers,DATING,5.0,5,4.4,1000,Free,0.0,Mature 17+
615,Awake Dating,DATING,5.0,2,70.0,100,Free,0.0,Mature 17+
633,Spine- The dating app,DATING,5.0,5,9.3,500,Free,0.0,Teen
636,Girls Live Talk - Free Text and Video Chat,DATING,5.0,6,5.0,100,Free,0.0,Mature 17+
...,...,...,...,...,...,...,...,...,...
10721,Mad Dash Fo' Cash,GAME,5.0,14,16.0,100,Free,0.0,Everyone
10742,GKPB FP Online Church,LIFESTYLE,5.0,32,7.9,1000,Free,0.0,Everyone
10776,Monster Ride Pro,GAME,5.0,1,24.0,10,Free,0.0,Everyone
10820,Fr. Daoud Lamei,FAMILY,5.0,22,8.6,1000,Free,0.0,Teen
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100,Free,0.0,Everyone

In [ ]:
# Q1. Display only names of Highest rated app ?

In [57]:
df[df["Rating"]==df["Rating"].max()]["App"]

329                    Hojiboy Tojiboyev Life Hacks
612                   American Girls Mobile Numbers
615                                    Awake Dating
633                           Spine- The dating app
636      Girls Live Talk - Free Text and Video Chat
                            ...
10721                             Mad Dash Fo' Cash
10742                         GKPB FP Online Church
10776                              Monster Ride Pro
10820                               Fr. Daoud Lamei
10837              Fr. Mike Schmitz Audio Teachings
Name: App, Length: 274, dtype: object

In [ ]:
# Q3 Highest installed app ?

In [62]:
len(df[df["Installs"]==df["Installs"].max()]["App"])

58

In [ ]:
# 1 Highest reviewed app 
# 2 Most Expensive app
# 3 Display all the data having rating between 4 to 4.5
# 4 Display all the free app haning 5 rating
# 5 Display most reviewed app and its paid
# 6 Display low rated app and its paid

In [64]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone

In [66]:
df[df["Reviews"]==df["Reviews"].max()]["App"]

2544    Facebook
Name: App, dtype: object

In [70]:
df[df["Price"]==df["Price"].max()][["App","Price"]]

                           App  Price
4367  I'm Rich - Trump Edition  400.0

In [73]:
df[(df["Rating"]==4) & (df["Rating"]<=4.5)][["App","Rating"]]

                                                 App  Rating
20                       Logo Maker - Small Business     4.0
39     How To Color Disney Princess - Coloring Pages     4.0
50                              Real Tractor Farming     4.0
58                                 Restart Navigator     4.0
66                                  Used Cars Mexico     4.0
...                                              ...     ...
10802                            FR: My Famous Lover     4.0
10814                           FR: My Secret Pets!      4.0
10817                           HTC Sense Input - FR     4.0
10826      Frim: get new friends on local chat rooms     4.0
10834                                  FR Calculator     4.0

[568 rows x 2 columns]

In [74]:
# 4 Display all the free app haning 5 rating

In [76]:
df[(df["Type"]=="Free") & (df["Rating"]==5)]["App"]

329                    Hojiboy Tojiboyev Life Hacks
612                   American Girls Mobile Numbers
615                                    Awake Dating
633                           Spine- The dating app
636      Girls Live Talk - Free Text and Video Chat
                            ...
10721                             Mad Dash Fo' Cash
10742                         GKPB FP Online Church
10776                              Monster Ride Pro
10820                               Fr. Daoud Lamei
10837              Fr. Mike Schmitz Audio Teachings
Name: App, Length: 246, dtype: object

In [77]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone

In [78]:
# 5 Display most reviewed app and its paid

In [92]:
a=df[df["Type"]=="Paid"]
a[a["Reviews"]==a["Reviews"].max()][["App","Reviews"]]

            App  Reviews
2241  Minecraft  2376564

In [79]:
df[df["Reviews"]==df["Reviews"].max()]["App"]

2544    Facebook
Name: App, dtype: object

In [81]:
df[df["Type"]==df["Type"].max()][["App","Type"]]

                                                 App  Type
234    TurboScan: scan documents and receipts in PDF  Paid
235                   Tiny Scanner Pro: PDF Doc Scan  Paid
290    TurboScan: scan documents and receipts in PDF  Paid
291                   Tiny Scanner Pro: PDF Doc Scan  Paid
427                               Puffin Browser Pro  Paid
...                                              ...   ...
10735                                    FP VoiceBot  Paid
10760                                Fast Tract Diet  Paid
10782                        Trine 2: Complete Story  Paid
10785                                   sugar, sugar  Paid
10798                           Word Search Tab 1 FR  Paid

[800 rows x 2 columns]

In [84]:
a=df[df["Type"]==df["Type"].max()]

In [93]:
a[a["Reviews"]==a["Reviews"].max()][["App","Reviews"]]

            App  Reviews
2241  Minecraft  2376564

In [94]:
b=df[df["Type"]=="Paid"]

In [95]:
b

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
234,TurboScan: scan documents and receipts in PDF,BUSINESS,4.700000,11442,6.800000,100000,Paid,4.99,Everyone
235,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.800000,10295,39.000000,100000,Paid,4.99,Everyone
290,TurboScan: scan documents and receipts in PDF,BUSINESS,4.700000,11442,6.800000,100000,Paid,4.99,Everyone
291,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.800000,10295,39.000000,100000,Paid,4.99,Everyone
427,Puffin Browser Pro,COMMUNICATION,4.000000,18247,21.516165,100000,Paid,3.99,Everyone
...,...,...,...,...,...,...,...,...,...
10735,FP VoiceBot,FAMILY,4.193338,17,0.153320,100,Paid,0.99,Mature 17+
10760,Fast Tract Diet,HEALTH_AND_FITNESS,4.400000,35,2.400000,1000,Paid,7.99,Everyone
10782,Trine 2: Complete Story,GAME,3.800000,252,11.000000,10000,Paid,16.99,Teen
10785,"sugar, sugar",FAMILY,4.200000,1405,9.500000,10000,Paid,1.20,Everyone
10798,Word Search Tab 1 FR,FAMILY,4.193338,0,0.996094,50,Paid,1.04,Everyone

In [96]:
b[b["Reviews"]==b["Reviews"].min()]["App"]

478                                    Truth or Dare Pro
479      Private Dating, Hide App- Blue for PrivacyHider
2294                                      Number Therapy
2422                                           Visualmed
2424                                           OrthoFlow
                              ...
9917                                         Eu Sou Rico
9934                   I'm Rich/Eu sou Rico/أنا غني/我很有錢
10668                     FN model 1900 pistol explained
10674                          Pistolet FN 1906 expliqué
10798                               Word Search Tab 1 FR
Name: App, Length: 76, dtype: object

In [6]:
#pd.read_excel
#pd.read_json
df=pd.read_csv(r"Employees.csv")

In [7]:
df.head()

,Id,Name,Age,Base Pay,OverTime Pay,Benefits,Total Pay benefits,Loan,Department,Duration,Rating,Email,State,Country
0,1,Marcia Stephens,22,120000,60000.0,15000.0,195000.0,No,SDE,7,8.2,['marcia.stephens@reddit.com'],colarado,USA
1,2,Karen Lopez,22,120000,60000.0,15000.0,195000.0,No,SDE-T,6,9.3,['karen.lopez@gmail.com'],taxes,USA
2,3,Heather Reilly,22,60000,30000.0,7500.0,97500.0,No,SDE,5,6.6,['heather.reilly@hotmail.com'],NewBrunswick,Canada
3,4,Cindy Leblanc,32,70000,35000.0,8750.0,113750.0,No,Admin,1,8.0,['cindy.leblanc@hotmail.com'],colarado,USA
4,5,Colin Richardson,22,120000,60000.0,15000.0,195000.0,Yes,SDE,3,5.7,['colin.richardson@yahoo.com'],altai,Russia

In [8]:
df["Age"].mean()

31.836

In [9]:
df["Age"].median()

30.0

In [10]:
df.columns

Index(['Id', 'Name', 'Age', 'Base Pay', 'OverTime Pay', 'Benefits',
       'Total Pay benefits', 'Loan', 'Department', 'Duration', 'Rating',
       'Email', 'State', 'Country'],
      dtype='object')

In [13]:
df["Department"].unique()

array(['SDE', 'SDE-T', 'Admin', 'Logistics', 'Hr', 'Accounts'],
      dtype=object)

In [14]:
df[df["Department"]=="Accounts"]["Age"].mean()

31.23076923076923

In [15]:
df[df["Department"]=="Hr"]["Age"].mean()

31.28846153846154

In [16]:
df["Age"].min()

22

In [17]:
df["Age"].max()

55

In [21]:
df[(df["Department"]=="Accounts") & (df["Country"]=="USA")]["Age"].mean()

33.523809523809526

In [22]:
df[(df["Department"]=="Admin") & (df["Country"]=="Canada")]["Age"].mean()

32.18181818181818

In [27]:
df[df["Age"]==df["Age"].max()][["Name","Age"]]

                     Name  Age
15         Megan Chambers   55
35            Erik Sutton   55
42         Michael Cooper   55
97           Frank Taylor   55
124       Harold Johnston   55
132         Audrey Barber   55
173        Kayla Franklin   55
186        Crystal Bryant   55
204        Denise Manning   55
213            Mark Hardy   55
239     Dr. Ryan Mitchell   55
290             Dawn Vega   55
320        Benjamin Brown   55
353  Mr. Nathan Underwood   55
387          Nathan Brown   55
419         Jessica Miles   55
457           Jamie Moody   55
466            Megan Rowe   55
468          Ashley Lopez   55
490          Danny Franco   55
527         Larry Shepard   55
561            John Smith   55
678         Aaron Douglas   55
688         Joseph Spears   55
696        Anthony Barnes   55
711         Hannah Forbes   55
715           Lauren York   55
729           Kara Murphy   55
741           Robert Ball   55
759       Charlotte Ramos   55
772           Austin Cook   55
889          Wendy Norton   55
922          Taylor Garza   55
940           Karen White   55
989           Karen Lucas   55
990          Patrick Lane   55
991     Elizabeth Wheeler   55

In [28]:
df[df["Duration"]==df["Duration"].max()][["Name","Duration"]]

                Name  Duration
0    Marcia Stephens         7
9        Steven Lynn         7
16      Steven Hicks         7
28     James Wilkins         7
32       Troy Thomas         7
..               ...       ...
964   Joseph Johnson         7
973    Rachel Harris         7
975    Melissa Leach         7
989      Karen Lucas         7
998       Cindy Knox         7

[151 rows x 2 columns]

In [29]:
df[df["Name"]=="Maria Williams"]["Base Pay"]

808    96000
Name: Base Pay, dtype: int64