In [1]:
# dt={key:value ,key:value,key:value}

In [3]:
dt={"rollno":101,"name":"cs","salary":10000}
print(dt)

{'rollno': 101, 'name': 'cs', 'salary': 10000}

In [4]:
print(dt["rollno"])

101

In [5]:
print(dt["roll"])

KeyError: 'roll'

In [6]:
dt

{'rollno': 101, 'name': 'cs', 'salary': 10000}

In [8]:
for i in dt:
    print(i,dt[i])

rollno 101
name cs
salary 10000

In [9]:
md={'rollno': 101, 'name': 'cs', 'salary': 10000 , "name":"kp"}
print(md)

{'rollno': 101, 'name': 'kp', 'salary': 10000}

In [10]:
kj={'rollno': 101, 'name': 'cs', 'salary': 10000}

#trying to modify values using keys
kj['salary']=20000

print(kj)

{'rollno': 101, 'name': 'cs', 'salary': 20000}

In [11]:
#adding new key value pair into an existing dict
kj["city"]="Thane"

print(kj)

{'rollno': 101, 'name': 'cs', 'salary': 20000, 'city': 'Thane'}

In [ ]:
# keys must be immutable

In [17]:
dt={"name":"cd",1:100,(10,20,30):[2000,3000]}
print(dt)

{'name': 'cd', 1: 100, (10, 20, 30): [2000, 3000]}

In [13]:
dt[1]

100

In [16]:
dt[(10,20,30)]

[1000, 2000, 3000]

In [15]:
dt={"name":"cd",1:100,[1000,2000,3000]:(10,20,30)}
print(dt)

TypeError: unhashable type: 'list'

In [20]:
df={"marks":[10,99,33,44],"age":[10,20,22,19,17]}

In [21]:
kj={'rollno': 101, 'name': 'cs', 'salary': 10000}
print(len(kj))   #number of key value pairs in dict

3

In [25]:
print(kj.get("roll","not found"))

not found

In [30]:
kj.keys()

dict_keys(['rollno', 'name', 'salary'])

In [27]:
kj.values()

dict_values([101, 'cs', 10000])

In [28]:
kj.items()

dict_items([('rollno', 101), ('name', 'cs'), ('salary', 10000)])

In [32]:
df.clear()

In [33]:
df

{}

In [34]:
kj

{'rollno': 101, 'name': 'cs', 'salary': 10000}

In [36]:
kj.pop('salary')

print(kj)

{'rollno': 101, 'name': 'cs'}

In [37]:
kj

{'rollno': 101, 'name': 'cs'}

In [39]:
kj.setdefault("city")

In [40]:
print(kj)

{'rollno': 101, 'name': 'cs', 'city': None}

In [41]:
kj.setdefault("state","MH")
print(kj)

{'rollno': 101, 'name': 'cs', 'city': None, 'state': 'MH'}

In [42]:
kj

{'rollno': 101, 'name': 'cs', 'city': None, 'state': 'MH'}

In [43]:
kj.popitem()

('state', 'MH')

In [44]:
#operators with dict

In [45]:
d1={"a":100}
d2={"b":200}

print(d1+d2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [46]:
d1*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [47]:
kj

{'rollno': 101, 'name': 'cs', 'city': None}

In [49]:
'rollno' in kj

False

In [57]:
#values
d={'a':11,'b':20,'c':13,'d':40}
for i in d:
    print(d[i])

11
20
13
40

In [51]:
#sq of values
d={'a':11,'b':20,'c':13,'d':40}
for i in d:
    print(d[i]**2)

121
400
169
1600

In [53]:
#addition of all values
s=0
for i in d:
    s+=d[i]
print(s)

84

In [55]:
#even nos
for i in d:
    if d[i]%2==0:
        print(d[i])

20
40

In [56]:
#odd nos
for i in d:
    if d[i]%2!=0:
        print(i,d[i])

a 11
c 13

In [81]:
d={'a':11,'b':20,'c':3,'d':40}
l=[]
for i in d:
    k=d[i]
    l.append(k)
    

minn=min(l)
#print(minn)

for i in d:
    if d[i]==minn:
        print(i,"=",minn)

c = 3

In [77]:
sm=list(d.values())
val=min(sm)
print(val)

3

In [78]:
for i in d:
    if d[i]==val:
        print(i,val)

c 3