In [ ]:
# Types of Indexing in pandas

In [ ]:
# .loc()  -----> Label based   loc[rows,cols]
# .iloc() -----> Integer based
# .ix()   -----> Both Label and Integer based -->discontd.

In [ ]:
# .loc() is purely label based indexing .

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.rand(8,4)

array([[0.32555436, 0.43095204, 0.67105993, 0.44659405],
       [0.47126277, 0.41080982, 0.41760401, 0.18864776],
       [0.19802943, 0.23302095, 0.5957521 , 0.72606472],
       [0.34535279, 0.91285826, 0.40162974, 0.62593755],
       [0.54526451, 0.63137391, 0.84817703, 0.02919826],
       [0.97163471, 0.02259909, 0.47731264, 0.47065659],
       [0.4027939 , 0.14654053, 0.64100537, 0.33106038],
       [0.46622799, 0.88952663, 0.70919606, 0.62707482]])

In [3]:
df=pd.DataFrame(np.random.rand(8,4),index=['a','b','c','d','e','f','g','h'],
                columns=['A','B','C','D'])

In [4]:
df

          A         B         C         D
a  0.426933  0.390873  0.700574  0.967852
b  0.275929  0.805095  0.622535  0.985084
c  0.220677  0.139676  0.726866  0.178053
d  0.445296  0.268079  0.789022  0.029423
e  0.615251  0.208796  0.350163  0.740595
f  0.780881  0.186958  0.281676  0.745572
g  0.338431  0.988381  0.820873  0.867279
h  0.389857  0.654997  0.211252  0.249144

In [11]:
df.loc["d":"f","A":"C"]  #rows,cols

          A         B         C
d  0.445296  0.268079  0.789022
e  0.615251  0.208796  0.350163
f  0.780881  0.186958  0.281676

In [14]:
df.loc[:,:]

          A         B         C         D
a  0.426933  0.390873  0.700574  0.967852
b  0.275929  0.805095  0.622535  0.985084
c  0.220677  0.139676  0.726866  0.178053
d  0.445296  0.268079  0.789022  0.029423
e  0.615251  0.208796  0.350163  0.740595
f  0.780881  0.186958  0.281676  0.745572
g  0.338431  0.988381  0.820873  0.867279
h  0.389857  0.654997  0.211252  0.249144

In [13]:
df.loc[:,"A":"C"]

          A         B         C
a  0.304097  0.241699  0.062123
b  0.814412  0.357469  0.907102
c  0.502479  0.132101  0.960560
d  0.761106  0.949598  0.619274
e  0.902264  0.110261  0.202801
f  0.635897  0.425161  0.719482
g  0.790346  0.352010  0.974385
h  0.901505  0.417264  0.128214

In [ ]:
# All row level variation

In [14]:
df

          A         B         C         D
a  0.304097  0.241699  0.062123  0.012476
b  0.814412  0.357469  0.907102  0.039148
c  0.502479  0.132101  0.960560  0.491206
d  0.761106  0.949598  0.619274  0.400905
e  0.902264  0.110261  0.202801  0.282425
f  0.635897  0.425161  0.719482  0.461764
g  0.790346  0.352010  0.974385  0.346261
h  0.901505  0.417264  0.128214  0.530279

In [15]:
df.loc[["b","e"],:]

          A         B         C         D
b  0.814412  0.357469  0.907102  0.039148
e  0.902264  0.110261  0.202801  0.282425

In [16]:
df.loc[["b",'c','c'],["A","B","C"]]

          A         B         C
b  0.814412  0.357469  0.907102
c  0.502479  0.132101  0.960560
c  0.502479  0.132101  0.960560

In [ ]:
# columns level variation

In [ ]:
df.loc[:,'A']
df.loc[:,'B':]
df.loc[:,'A'::2] # ---Step 2

In [ ]:
# skip on row and one columns in increment order

In [ ]:
df.loc[::2,::2]

In [ ]:
#.iloc() -----> Integer based

In [ ]:
df

In [16]:
df.iloc[:,1:]

          B         C         D
a  0.390873  0.700574  0.967852
b  0.805095  0.622535  0.985084
c  0.139676  0.726866  0.178053
d  0.268079  0.789022  0.029423
e  0.208796  0.350163  0.740595
f  0.186958  0.281676  0.745572
g  0.988381  0.820873  0.867279
h  0.654997  0.211252  0.249144

In [ ]:
df.iloc[:,:-2] # dont disply last 2 columns

In [ ]:
df.iloc[:-2,:] # dont disply last 2 row

In [ ]:
# disply first 2 row and columns

In [18]:
df.iloc[0:2,0:2]

          A         B
a  0.304097  0.241699
b  0.814412  0.357469

In [ ]:
# disply row and colums setp2

In [ ]:
df.iloc[0::2,0::2]

In [ ]:
# first row and columns

In [ ]:
df.iloc[0,0]

In [ ]:
df.iloc[-1,-1]

In [ ]:
df.iloc[:,2:3]

In [19]:
df.iloc[4:6,:]

          A         B         C         D
e  0.902264  0.110261  0.202801  0.282425
f  0.635897  0.425161  0.719482  0.461764

In [ ]:
df