In [8]:
a=100
print("the value of a=",a,200,300,400,sep=" ")

the value of a= 100 200 300 400

In [12]:
print("hello all",end=" ")
print("welcome to mit")

hello all welcome to mit

In [15]:
for i in range(1,4):     #no of rows
    for j in range(1,4):  #no of columns
        print("*",end="")
    print(end="\n")

***
***
***

In [16]:
for i in range(1,4):     #no of rows
    for j in range(1,4):  #no of columns
        print(i,end="")
    print(end="\n")

111
222
333

In [17]:
for i in range(1,4):     #no of rows
    for j in range(1,4):  #no of columns
        print(j,end="")
    print(end="\n")

123
123
123

In [19]:
cnt=1
for i in range(1,4):     #no of rows
    for j in range(1,4):  #no of columns
        print(cnt,end=" ")
        cnt=cnt+1
    print(end="\n")

1 2 3
4 5 6
7 8 9

In [24]:
asc=ord("A")
for i in range(1,4):     #no of rows
    for j in range(1,4):  #no of columns
        print(chr(asc),end=" ")
        asc+=1
    print(end="\n")

A B C
D E F
G H I

In [20]:
ord("A")

65

In [27]:
for i in range(1,5):     #no of rows
    for j in range(0,i):  #no of columns
        print("*",end=" ")
    print(end="\n")

*
* *
* * *
* * * *

In [31]:
cnt=1
for i in range(1,5):     #no of rows
    for j in range(1,i+1):  #no of columns
        print(cnt,end=" ")
        cnt+=1
    print(end="\n")

1
2 3
4 5 6
7 8 9 10

In [33]:

for i in range(1,5):     #no of rows
    for j in range(1,i+1):  #no of columns
        print(i*j,end=" ")
    print(end="\n")

1
2 4
3 6 9
4 8 12 16

In [37]:
for i in range(1,4):     #no of rows
    for j in range(1,4):  #no of columns
        print(i,end=" ")
        break
        
    print(end="\n")

1 1 1