In [2]:
name="milestone"
name[0]="x" #error- str are immutable.

TypeError: 'str' object does not support item assignment

In [4]:
st="milestone"

s=st.upper()
print(st)
print(s)

milestone
MILESTONE

In [13]:
st="milestone technology"
print(st.title())
print(st.capitalize())
print(st.index('m'))
print(st.count('t'))
print(st.replace('t','x'))

Milestone Technology
Milestone technology
0
2
milesxone xechnology

In [15]:
myst="abcd"
myst.islower()

False

In [18]:
s="ab12"
s.isalpha()

False

In [20]:
s="1245"
s.isdigit()

True

In [26]:
s="abs12"
s.isalnum()

True

In [29]:
s="cs fg "
s.isspace()

False

In [32]:
myst="abcd gh"
len(myst)

7

In [33]:
fullname="chaitanya sathe"
fullname.split()

['chaitanya', 'sathe']

In [37]:
email_id="vs@gmail.com"
email_id.split("@")
email_id.split("@")[1]

['vs', 'gmail.com']

In [41]:
ml=['chaitanya', 'sathe']
fn=" ".join(ml)
print(fn)

chaitanya sathe

In [42]:
"m" in "milestone"

True

In [44]:
st="chaitabya hds"
for i in st:
    print(i)

c
h
a
i
t
a
b
y
a

h
d
s

In [54]:
st="milestone technology"
ch=input("Enter a character to find the count: ")
cnt=0
for i in st:
    if i==ch:
        cnt+=1
    else:
        cnt=0
if cnt==0:       
    print("character is not present")
else:
    print(f"count of {ch} is {cnt}")

Enter a character to find the count: z
character is not present

In [47]:
st="milestone technology"
cnt=0
for i in st:
    cnt+=1
print(f"total length is {cnt}")

total length is 20

In [48]:
st="milestone technology"
cnt=0
for i in st:
    if i.isalpha():
        cnt+=1
print(f"total alphabets in string are {cnt}")

total alphabets in string are 19

In [50]:
s="sAkShI"
l=0
u=0
for i in s:
    if i.islower():
        l+=1
    if i.isupper():
        u+=1
print(f"Total uppercase charater in string {u}")
print(f"Total lowercase charater in string {l}")

Total uppercase charater in string 3
Total lowercase charater in string 3

In [86]:
x="mile3stone8 tech2nolog5y"
st=""
summ=0
for i in x:
    if i.isdigit():
        #print(i)
        summ+=int(i)
        continue
    st=st+i
    #print(i,end=" ")
#print(st)
print(f"sum of digits is {summ}")

sum of digits is 18

In [96]:
address=["xyz.TH","pqr.PN","pr.TH","mn.MUM","zz.TH"]

for i in address:
    st=""
    cnt=0
    #print(i)
    st+=i
    city=st.split(".")[1]
    print(city)
    if city in st:
        cnt+=1
#print(i,cnt)

TH
PN
TH
MUM
TH

In [101]:
address=["xyz.TH","pqr.PN","pr.TH","mn.MUM","zz.TH"]
city=[]
dt={}
for i in address:
    city.append(i.split(".")[1])
    
print(city)

for i in city:
    if i not in dt:
        dt[i]=1
    else:
        dt[i]+=1
        
    print(dt)

['TH', 'PN', 'TH', 'MUM', 'TH']
{'TH': 1}
{'TH': 1, 'PN': 1}
{'TH': 2, 'PN': 1}
{'TH': 2, 'PN': 1, 'MUM': 1}
{'TH': 3, 'PN': 1, 'MUM': 1}