In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

C:\Users\lenovo\AppData\Local\Temp\ipykernel_17032\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [17]:
import numpy as np

In [ ]:
#pandas provide 2 data structure
#dataFrame2D always i.e table-wise
#Series-1D

In [ ]:
#create series using Series() method

In [3]:
s=pd.Series(data=[1,2,3],index=['a','b','c'])
s

a    1
b    2
c    3
dtype: int64

In [5]:
d=[4,5,6]
i=['a','b','c']
s1=pd.Series(d,i)
s1

a    4
b    5
c    6
dtype: int64

In [8]:
d=[4,5,6]
t=pd.Series(d)
t

#here index starts form 0 by default

0    4
1    5
2    6
dtype: int64

In [ ]:
#dictiionary using series

In [11]:
d1={'a':1,'b':2,'c':3}
t1=pd.Series(d1)
t1

a    1
b    2
c    3
dtype: int64

In [14]:
#if given index doesn't match the keys then Null value is stored in series
d1={'a':1,'b':2,'c':3}
t1=pd.Series(d1,index=['y','c','z'],dtype=int)
t1

#here int is not working because of Nan values

y    NaN
c    3.0
z    NaN
dtype: float64

In [16]:
z={'v':77,'f':66}
g=pd.Series(d1,dtype=float)
g

a    1.0
b    2.0
c    3.0
dtype: float64

In [22]:
#numpy arrays in series
f=np.arange(11,15)
p=pd.Series(f)
p

0    11
1    12
2    13
3    14
dtype: int32

In [24]:
#scalar value can also be added i.e a single value by specifying the index so that the lement is added in series that many times
p=pd.Series(5,index=range(0,5))
p

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [ ]:
#series function
#first store your list or dictionary as series and then perform the functions

In [28]:
d=[4,5,6]
i=['a','b','c']
s1=pd.Series(d,i)
s1
s1.min()

4

In [29]:
s1.sum()

15

In [30]:
s1.mean()

5.0

In [31]:
s1.quantile(0.75)

5.5

In [33]:
d=(14,5,16)  #tuple
i=['a','b','c']
s1=pd.Series(d,i)
s1
s1.median()

14.0

In [ ]:
#DataFrame-table-like so col-names/index and rows names.index are set by default

In [34]:
#create DF same as series
d=(14,5,16)
p=pd.DataFrame(d)
p

    0
0  14
1   5
2  16

In [40]:
#wecan also specify col-name manually but should be done by calculating columns properly
d=((14,5,16),(1,2,3))
p=pd.DataFrame(d,index=['a','b'],columns=['x','y','z'])
p

    x  y   z
a  14  5  16
b   1  2   3

In [ ]:
#dictionary using DF
#keys are used as col-names

In [44]:
d={'Name':["ABC","PQR"],"Age":[20,24]}
p=pd.DataFrame(d)
p

  Name  Age
0  ABC   20
1  PQR   24