In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [1]:
pip install requests

Requirement already satisfied: requests in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from requests) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from requests) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [3]:
pip install matplotlib

Collecting matplotlibNote: you may need to restart the kernel to use updated packages.

  Obtaining dependency information for matplotlib from https://files.pythonhosted.org/packages/46/37/b5e27ab30ecc0a3694c8a78287b5ef35dad0c3095c144fcc43081170bfd6/matplotlib-3.8.2-cp310-cp310-win_amd64.whl.metadata
  Using cached matplotlib-3.8.2-cp310-cp310-win_amd64.whl.metadata (5.9 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.47.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.26.3)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Using cached matplotlib-3.8.2-cp310-cp310-win_amd64.whl (7.6 MB)
Installing collected packages: matplotlib

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\lenovo\\AppData\\Local\\Programs\\Python\\Python310\\Lib\\site-packages\\matplotlib\\_c_internal_utils.cp310-win_amd64.pyd'
Consider using the `--user` option or check the permissions.


[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [1]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (4.12.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: soupsieve>1.2 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4) (2.5)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

ImportError: cannot import name '_api' from partially initialized module 'matplotlib' (most likely due to a circular import) (C:\Users\lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\matplotlib\__init__.py)

In [ ]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get('https://books.toscrape.com/',headers=headers).text

In [ ]:
webpage

In [ ]:
soup=BeautifulSoup(webpage,'lxml')

In [ ]:
soup

In [ ]:
soup.find("h3").find("a").text

In [3]:
soup.find("p")

NameError: name 'soup' is not defined

In [16]:
book_name=[]
for i in soup.find_all("h3"):
    book_name.append(i.find('a').text)

In [17]:
book_name

['A Light in the ...',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History ...',
 'The Requiem Red',
 'The Dirty Little Secrets ...',
 'The Coming Woman: A ...',
 'The Boys in the ...',
 'The Black Maria',
 'Starving Hearts (Triangular Trade ...',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little ...",
 'Rip it Up and ...',
 'Our Band Could Be ...',
 'Olio',
 'Mesaerion: The Best Science ...',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

In [21]:
soup.find_all("p",class_="price_color")

[<p class="price_color">Â£51.77</p>,
 <p class="price_color">Â£53.74</p>,
 <p class="price_color">Â£50.10</p>,
 <p class="price_color">Â£47.82</p>,
 <p class="price_color">Â£54.23</p>,
 <p class="price_color">Â£22.65</p>,
 <p class="price_color">Â£33.34</p>,
 <p class="price_color">Â£17.93</p>,
 <p class="price_color">Â£22.60</p>,
 <p class="price_color">Â£52.15</p>,
 <p class="price_color">Â£13.99</p>,
 <p class="price_color">Â£20.66</p>,
 <p class="price_color">Â£17.46</p>,
 <p class="price_color">Â£52.29</p>,
 <p class="price_color">Â£35.02</p>,
 <p class="price_color">Â£57.25</p>,
 <p class="price_color">Â£23.88</p>,
 <p class="price_color">Â£37.59</p>,
 <p class="price_color">Â£51.33</p>,
 <p class="price_color">Â£45.17</p>]

In [22]:
price=[]
for i in soup.find_all("p",class_="price_color"):
    price.append(i.text)

In [23]:
price

['Â£51.77',
 'Â£53.74',
 'Â£50.10',
 'Â£47.82',
 'Â£54.23',
 'Â£22.65',
 'Â£33.34',
 'Â£17.93',
 'Â£22.60',
 'Â£52.15',
 'Â£13.99',
 'Â£20.66',
 'Â£17.46',
 'Â£52.29',
 'Â£35.02',
 'Â£57.25',
 'Â£23.88',
 'Â£37.59',
 'Â£51.33',
 'Â£45.17']

In [27]:
soup.find("p",class_="instock availability").text.strip()

'In stock'

In [28]:
stock=[]
for i in soup.find_all("p",class_="instock availability"):
    stock.append(i.get_text(strip=True))

In [29]:
stock

['In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock']

In [10]:
price

['Â£51.77',
 'Â£53.74',
 'Â£50.10',
 'Â£47.82',
 'Â£54.23',
 'Â£22.65',
 'Â£33.34',
 'Â£17.93',
 'Â£22.60',
 'Â£52.15',
 'Â£13.99',
 'Â£20.66',
 'Â£17.46',
 'Â£52.29',
 'Â£35.02',
 'Â£57.25',
 'Â£23.88',
 'Â£37.59',
 'Â£51.33',
 'Â£45.17']

In [11]:
book_name

['A Light in the ...',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History ...',
 'The Requiem Red',
 'The Dirty Little Secrets ...',
 'The Coming Woman: A ...',
 'The Boys in the ...',
 'The Black Maria',
 'Starving Hearts (Triangular Trade ...',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little ...",
 'Rip it Up and ...',
 'Our Band Could Be ...',
 'Olio',
 'Mesaerion: The Best Science ...',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

In [30]:
df=pd.DataFrame({"book name":book_name,"Price":price,"Stock Availability":stock})

In [31]:
df

                                book name    Price Stock Availability
0                      A Light in the ...  Â£51.77           In stock
1                      Tipping the Velvet  Â£53.74           In stock
2                              Soumission  Â£50.10           In stock
3                           Sharp Objects  Â£47.82           In stock
4            Sapiens: A Brief History ...  Â£54.23           In stock
5                         The Requiem Red  Â£22.65           In stock
6            The Dirty Little Secrets ...  Â£33.34           In stock
7                 The Coming Woman: A ...  Â£17.93           In stock
8                     The Boys in the ...  Â£22.60           In stock
9                         The Black Maria  Â£52.15           In stock
10  Starving Hearts (Triangular Trade ...  Â£13.99           In stock
11                  Shakespeare's Sonnets  Â£20.66           In stock
12                            Set Me Free  Â£17.46           In stock
13    Scott Pilgrim's Precious Little ...  Â£52.29           In stock
14                      Rip it Up and ...  Â£35.02           In stock
15                  Our Band Could Be ...  Â£57.25           In stock
16                                   Olio  Â£23.88           In stock
17        Mesaerion: The Best Science ...  Â£37.59           In stock
18           Libertarianism for Beginners  Â£51.33           In stock
19                It's Only the Himalayas  Â£45.17           In stock

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book name           20 non-null     object
 1   Price               20 non-null     object
 2   Stock Availability  20 non-null     object
dtypes: object(3)
memory usage: 612.0+ bytes

In [33]:
df["Price"]=df["Price"].str.replace("Â£","")

In [34]:
df

                                book name  Price Stock Availability
0                      A Light in the ...  51.77           In stock
1                      Tipping the Velvet  53.74           In stock
2                              Soumission  50.10           In stock
3                           Sharp Objects  47.82           In stock
4            Sapiens: A Brief History ...  54.23           In stock
5                         The Requiem Red  22.65           In stock
6            The Dirty Little Secrets ...  33.34           In stock
7                 The Coming Woman: A ...  17.93           In stock
8                     The Boys in the ...  22.60           In stock
9                         The Black Maria  52.15           In stock
10  Starving Hearts (Triangular Trade ...  13.99           In stock
11                  Shakespeare's Sonnets  20.66           In stock
12                            Set Me Free  17.46           In stock
13    Scott Pilgrim's Precious Little ...  52.29           In stock
14                      Rip it Up and ...  35.02           In stock
15                  Our Band Could Be ...  57.25           In stock
16                                   Olio  23.88           In stock
17        Mesaerion: The Best Science ...  37.59           In stock
18           Libertarianism for Beginners  51.33           In stock
19                It's Only the Himalayas  45.17           In stock

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book name           20 non-null     object
 1   Price               20 non-null     object
 2   Stock Availability  20 non-null     object
dtypes: object(3)
memory usage: 612.0+ bytes

In [37]:
df["Price"]=df["Price"].astype(float)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book name           20 non-null     object
 1   Price               20 non-null     float64
 2   Stock Availability  20 non-null     object
dtypes: float64(1), object(2)
memory usage: 612.0+ bytes

In [40]:
df

                                book name  Price Stock Availability
0                      A Light in the ...  51.77           In stock
1                      Tipping the Velvet  53.74           In stock
2                              Soumission  50.10           In stock
3                           Sharp Objects  47.82           In stock
4            Sapiens: A Brief History ...  54.23           In stock
5                         The Requiem Red  22.65           In stock
6            The Dirty Little Secrets ...  33.34           In stock
7                 The Coming Woman: A ...  17.93           In stock
8                     The Boys in the ...  22.60           In stock
9                         The Black Maria  52.15           In stock
10  Starving Hearts (Triangular Trade ...  13.99           In stock
11                  Shakespeare's Sonnets  20.66           In stock
12                            Set Me Free  17.46           In stock
13    Scott Pilgrim's Precious Little ...  52.29           In stock
14                      Rip it Up and ...  35.02           In stock
15                  Our Band Could Be ...  57.25           In stock
16                                   Olio  23.88           In stock
17        Mesaerion: The Best Science ...  37.59           In stock
18           Libertarianism for Beginners  51.33           In stock
19                It's Only the Himalayas  45.17           In stock

In [43]:
df["Price"]>50.0

0      True
1      True
2      True
3     False
4      True
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13     True
14    False
15     True
16    False
17    False
18     True
19    False
Name: Price, dtype: bool

In [44]:
df

                                book name  Price Stock Availability
0                      A Light in the ...  51.77           In stock
1                      Tipping the Velvet  53.74           In stock
2                              Soumission  50.10           In stock
3                           Sharp Objects  47.82           In stock
4            Sapiens: A Brief History ...  54.23           In stock
5                         The Requiem Red  22.65           In stock
6            The Dirty Little Secrets ...  33.34           In stock
7                 The Coming Woman: A ...  17.93           In stock
8                     The Boys in the ...  22.60           In stock
9                         The Black Maria  52.15           In stock
10  Starving Hearts (Triangular Trade ...  13.99           In stock
11                  Shakespeare's Sonnets  20.66           In stock
12                            Set Me Free  17.46           In stock
13    Scott Pilgrim's Precious Little ...  52.29           In stock
14                      Rip it Up and ...  35.02           In stock
15                  Our Band Could Be ...  57.25           In stock
16                                   Olio  23.88           In stock
17        Mesaerion: The Best Science ...  37.59           In stock
18           Libertarianism for Beginners  51.33           In stock
19                It's Only the Himalayas  45.17           In stock

In [45]:
df[df["Price"]>50]

                              book name  Price Stock Availability
0                    A Light in the ...  51.77           In stock
1                    Tipping the Velvet  53.74           In stock
2                            Soumission  50.10           In stock
4          Sapiens: A Brief History ...  54.23           In stock
9                       The Black Maria  52.15           In stock
13  Scott Pilgrim's Precious Little ...  52.29           In stock
15                Our Band Could Be ...  57.25           In stock
18         Libertarianism for Beginners  51.33           In stock

In [46]:
df

                                book name  Price Stock Availability
0                      A Light in the ...  51.77           In stock
1                      Tipping the Velvet  53.74           In stock
2                              Soumission  50.10           In stock
3                           Sharp Objects  47.82           In stock
4            Sapiens: A Brief History ...  54.23           In stock
5                         The Requiem Red  22.65           In stock
6            The Dirty Little Secrets ...  33.34           In stock
7                 The Coming Woman: A ...  17.93           In stock
8                     The Boys in the ...  22.60           In stock
9                         The Black Maria  52.15           In stock
10  Starving Hearts (Triangular Trade ...  13.99           In stock
11                  Shakespeare's Sonnets  20.66           In stock
12                            Set Me Free  17.46           In stock
13    Scott Pilgrim's Precious Little ...  52.29           In stock
14                      Rip it Up and ...  35.02           In stock
15                  Our Band Could Be ...  57.25           In stock
16                                   Olio  23.88           In stock
17        Mesaerion: The Best Science ...  37.59           In stock
18           Libertarianism for Beginners  51.33           In stock
19                It's Only the Himalayas  45.17           In stock

In [50]:
df[df["Stock Availability"]=="In stock"]

                                book name  Price Stock Availability
0                      A Light in the ...  51.77           In stock
1                      Tipping the Velvet  53.74           In stock
2                              Soumission  50.10           In stock
3                           Sharp Objects  47.82           In stock
4            Sapiens: A Brief History ...  54.23           In stock
5                         The Requiem Red  22.65           In stock
6            The Dirty Little Secrets ...  33.34           In stock
7                 The Coming Woman: A ...  17.93           In stock
8                     The Boys in the ...  22.60           In stock
9                         The Black Maria  52.15           In stock
10  Starving Hearts (Triangular Trade ...  13.99           In stock
11                  Shakespeare's Sonnets  20.66           In stock
12                            Set Me Free  17.46           In stock
13    Scott Pilgrim's Precious Little ...  52.29           In stock
14                      Rip it Up and ...  35.02           In stock
15                  Our Band Could Be ...  57.25           In stock
16                                   Olio  23.88           In stock
17        Mesaerion: The Best Science ...  37.59           In stock
18           Libertarianism for Beginners  51.33           In stock
19                It's Only the Himalayas  45.17           In stock

In [53]:
df.to_csv("dummy_book_data.csv")